<div class="container">
  <div class="bg-faded p-4 my-4">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Add Country</a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
         data-parent="#accordion">
      <div class="card-body">
        <form (ngSubmit)="processAction()" #addCountryForm="ngForm">
          <div class="form-group">
            <input type="text" [(ngModel)]="country.Code" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="Code">
            <input type="text" [(ngModel)]="country.Region" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="Region">
            <input type="text" [(ngModel)]="country.SurfaceArea" [ngModelOptions]="{standalone: true}" name="surfaceArea" class="form-control" aria-describedby="emailHelp"
                   placeholder="Surface Area">
            <input type="text" [(ngModel)]="country.IndepYear" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Indep Year">
            <input type="text" [(ngModel)]="country.Population" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Population">
            <input type="text" [(ngModel)]="country.LifeExpectancy" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Life Expectancy">
            <input type="text" [(ngModel)]="country.GNP" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="GNP">
            <input type="text" [(ngModel)]="country.GNPOld" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="GNPOld">
            <input type="text" [(ngModel)]="country.LocalName" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Local Name">
            <input type="text" [(ngModel)]="country.GovernmentForm" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Government Form">
            <input type="text" [(ngModel)]="country.HeadOfState" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp"
                   placeholder="Head Of State">
            <input type="text" [(ngModel)]="country.Capital" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="Capital">
            <input type="text" [(ngModel)]="country.Code2" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="Code2">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Delete
          Country</a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
         data-parent="#accordion">
      <div class="card-body">
        <form (ngSubmit)="deleteCountry()">
          <div class="form-group">
            <input type="text" [formControl]="code" name="deleteName" class="form-control" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
      </div>
    </div>


    <div class="row pt-4">
      <div class="col-lg-12 table">
        <table class="table-bordered table-hover table-responsive">
          <thead>
          <tr align="center">
            <td>Code</td>
            <td>Name</td>
            <td>Continent</td>
            <td>Region</td>
            <td>SurfaceArea</td>
            <td>IndepYear</td>
            <td>Population</td>
            <td>LifeExpectancy</td>
            <td>GNP</td>
            <td>GNPOld</td>
            <td>LocalName</td>
            <td>GovernmentForm</td>
            <td>HeadOfState</td>
            <td>Capital</td>
            <td>Code2</td>
          </tr>
          </thead>
          <tbody>
          <tr>
          <tr *ngFor="let country of countries">
            <td>{{country.Code}}</td>
            <td>{{country.Name}}</td>
            <td>{{country.Continent}}</td>
            <td>{{country.Region}}</td>
            <td>{{country.SurfaceArea}}</td>
            <td>{{country.IndepYear}}</td>
            <td>{{country.Population}}</td>
            <td>{{country.LifeExpectancy}}</td>
            <td>{{country.GNP}}</td>
            <td>{{country.GNPOld}}</td>
            <td>{{country.LocalName}}</td>
            <td>{{country.GovernmentForm}}</td>
            <td>{{country.HeadOfState}}</td>
            <td>{{country.Capital}}</td>
            <td>{{country.Code2}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
